body {
    margin: 60px auto;
    width: 70%;
    margin: 0 auto;
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg");
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.html,
div.css {
  padding: 10px;
}

div.html {
  float: left;
  margin-left: 10px;
  background-color: #fcf4c2;
}

div.css {
  float: right;
  margin-right: 10px;
  background-color: #f4c2fc;
}

div.encomp {
  overflow: hidden;
  display: block;
  padding: 10px;
  background-color: #8eb8fa;
}
