body {
    margin: 60px auto;
    width: 70%;
    margin: 0 auto;
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg");
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.html,
div.css {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
}

div.html {
  float: inline-start;
  margin-left: 10px;
  background-color: #fcf4c2;
}

div.css {
  float: inline-start;
  margin-right: 10px;
  background-color: #f4c2fc;
}

div.encomp {
  overflow: hidden;
  display: block;
  padding: 1px;
  background-color: #8eb8fa;
  display: inline-block;
}

img.valdimg {
  width: 575px;
  overflow: hidden;
  display: inline-block;
}

