<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/Assignment1">Artifact #1</a></li>
				<li><a href="/Assignment2">M01</a></li>
				<li><a href="/Assignment3">M02</a></li>
				<li><a href="/PROG109BC/Assignments/M03">M03</a></li>
				<li><a href="/Assignment5">Assignment 5</a></li>
				<li><a href="/Assignment4">Assignment 6</a></li>
				<li><a href="/Assignment5">Assignment 7</a></li>
				<li><a href="/Assignment4">Assignment 8</a></li>
				<li><a href="/Assignment5">Assignment 9</a></li>
				<li><a href="/Assignment4">Assignment 10</a></li>
				<li><a href="/Assignment5">Assignment 11</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Aibanez90@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/Olliejandro</a></li>
				</ul>
			</footer>
		</body>
	</html>
