<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <script defer src="/javascript/script.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Navbar/about/">About</a></li>
					<li><a href="/Navbar/coursework">Coursework</a></li>
					<li><a href="/Navbar/Artifacts">Artifacts</a></li>
					<li><a href="/Navbar/Modules/">Modules</a></li>
					<li><a href="/Navbar/contact/">Contact Me</a></li>
					<li><a href="/Navbar/potatoes/">Potatoes(Creative Page)</a></li>
					<li><a href="/Navbar/validated/">Validated</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Aibanez90@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/Olliejandro</a></li>
				</ul>
			</footer>
		</body>
	</html>
